:root {
  --main-bg-color: #f0f1f4;
  --main-font-color: #030303;
  --main-font-color-light: #f0f1f4;
  --main-header-color: #899593;
  --main-footer-color: #2c3632;
}

html {
  box-sizing: border-box; 
  max-width: 100vw;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--main-font-color);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

img { 
  max-width: 100%; 
  height: auto;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  /* Стили для планшетов */
}

@media (max-width: 480px) {
  /* Стили для мобильных телефонов */
}


