:root {
  --main-bg-color: #f0f1f4;
  --main-font-color: #030303;
  --main-font-color-light: #f0f1f4;
  --main-header-color: #899593;
}

html {
  box-sizing: border-box; 
  max-width: 100vw;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--main-font-color);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

img { 
  max-width: 100%; 
  height: auto;
}

@media (max-width: 768px) {
  /* Стили для планшетов */
}

@media (max-width: 480px) {
  /* Стили для мобильных телефонов */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: var(--main-header-color);
}

.main-navigation__list {
  list-style-type: none;
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.main-navigation__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-navigation__item::after {
  position: absolute;
  bottom: -3px;
  display: none;
  content: '';
  margin: 0;
  padding: 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--main-font-color-light);
}

.main-navigation__item:hover::after {
  display: block;
  transition: all 0.3s linear;
}

.main-navigation__item:active::after {
  content: "";
  width: 0;
  height: 0;
}

.main-header__item--link {
  color: var(--main-font-color-light);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: all 0.4s ease;
}

.main-header__item--link:active {
  border-bottom: 3px solid rgba(240, 241, 244, 0.53);
  font-weight: 500;
  color: rgba(240, 241, 244, 0.53);
}

#mainNavList li.activated {
  font-weight: 500;
  border-bottom: 3px solid var(--main-font-color-light);
}

.main-info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 250px;
  height: 350px;
}